<h1>Click a List To View Content</h1>
<%= link_to 'Create a new list', new_board_list_path(@board) %>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.title, [@board, list] %></li>
  <% end %>
</ul>